.body {
  //background-color: linear-gradient(90deg, rgb(72, 1, 40), rgb(32, 1, 16));
  // color: #fff;
  background-image: url('/assets/images/body.png');
  height: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moment {
  display: flex;
  flex-direction: column;
  color: #009578;
  text-align: right;
  row-gap: 10px;
  font-size: small;
}

span {
  font-weight: bold;
}

.content {
  display: flex;
  column-gap: 2rem;
  padding: 1rem;
}
h2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
