.body {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto 5rem;
  max-width: 1200px;
}

.userData {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: larger;
}
#userAvatar {
  max-width: 70px;
  min-height: 70px;
  background: white;
  color: #383635;
  border-radius: 22px;
  padding: 0.5rem;
  text-align: center;
}
.userData > div > img {
  width: 100%;
  object-fit: cover;
  border-radius: 22px;
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
}

.settings,
.finance-moment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
}

.settings > div > img {
  max-width: 60px;
  object-fit: cover;
  border-radius: 18px;
  padding: 0.6rem;
  background: white;
}
.moment {
  display: flex;
  flex-direction: column;
  text-align: right;
  row-gap: 10px;
  font-size: small;
}
.moment > h2 {
  text-align: right;
}
span {
  font-weight: bold;
}
.content {
  display: grid;
  grid-template-areas: "left-wrapper weekday-info calculator";
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
  padding: 1rem;
  margin-top: 4rem;
}
h2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
h3 {
  margin-bottom: 1rem;
}

hr {
  width: 80%;
}
.footer {
  color: rgb(164, 163, 163);
  margin: 4rem auto 4rem;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  font-size: small;
}

.contacts {
  display: flex;
  flex-direction: column;
}
.contacts > div > div > a > img {
  object-fit: cover;
  max-width: 30px;
}
// .email > img {
//   max-width: 20px;
// }
.contacts > div {
  display: flex;
  align-items: center;
  row-gap: 1rem;
}

.rights {
  align-self: flex-start;
  text-align: right;
}
.rights > div > a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.rights > div > a:hover {
  color: rgb(151, 149, 149);
}
