// $background-color: grey;
// $font-color: #fff;
// $font-weight: bold;

// .dark-theme {
//   background: $background-color;
//   color: $font-color;
//   font-weight: $font-weight;
// }

.dark-theme {
  background: grey;
  color: #fff;
}

.skyblue {
  background: skyblue;
}

.bubble-gum {
  background: pink;
}
