@font-face {
  font-family: "Red Hat Display";
  src: url(/JavaScript-GroupProject/assets/fonts/RedHatDisplay-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url(/JavaScript-GroupProject/assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
}
