@font-face {
  font-family: "Red Hat Display";
  src: url(/JavaScript-GroupProject/assets/fonts/RedHatDisplay-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url(/JavaScript-GroupProject/assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Casus Pro";
  src: url(/JavaScript-GroupProject/assets/fonts/CasusPro.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url(/JavaScript-GroupProject/assets/fonts/Lexend-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Koulen";
  src: url(/JavaScript-GroupProject/assets/fonts/Koulen-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter";
  src: url(/JavaScript-GroupProject/assets/fonts/ArchitectsDaughter-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(/JavaScript-GroupProject/assets/fonts/Montserrat-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anybody";
  src: url(/JavaScript-GroupProject/assets/fonts/Anybody-VariableFont_wdth\,wght.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Space+Grotesk:wght@300;400;500;600&family=Vollkorn+SC:wght@600&display=swap");
