h1 {
  background: #8adacb;
  text-align: center;
}

.moment {
  display: flex;
  flex-direction: column;
  color: #009578;
  text-align: right;
  row-gap: 10px;
}

.content {
  display: flex;
  column-gap: 2rem;
  padding: 1rem;
}
