// .left-wrapper {
// }

.left-wrapper,
.form,
.financial-literacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.form,
.financial-literacy {
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 6px;
}
.form > button {
  width: 50%;
  min-height: 34px;
  align-self: center;
  margin: 1rem auto;
}

// .financial-literacy {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
