.left-wrapper {
  // width: 100%;
  grid-area: left-wrapper;
  max-width: fit-content;
}

.left-wrapper,
.form,
.financial-literacy {
  display: flex;
  //justify-content: space-around;
  flex-direction: column;
  row-gap: 2rem;
}
.form,
.financial-literacy {
  // width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  //max-width: 200px;
}
.form > button {
  width: fit-content;
  min-height: 44px;
  align-self: center;
  margin: 1rem auto;
  font-size: large;
  border-radius: 4px;
}

.gallery-buttons > button {
  min-width: 44px;
  min-height: 34px;
  font-size: larger;
  border-radius: 4px;
}

//.gallery {
  //width: 9vw;
//}
.item {
  height: 130px;
}
.item img {
  object-fit: cover;
  max-width: 200px;
}
