.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.settings > div {
  background-color: white;
  padding: 0.9rem;
  border-radius: 22px;
}
.nav-trigger {
  // position: fixed;
  position: relative;
  width: 45px;
  height: 45px;
}

label[for="nav-trigger"] {
  // position: fixed;
  position: absolute;
  left: 6px;
  top: 8px;
  z-index: 10;
  overflow: hidden;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: white;
  border-radius: 22px;
  background-image: url(../../images/settings.svg);
  background-size: contain;
}

.prefferencies {
  position: fixed;
  // position: absolute;
  width: 21%;
  max-height: 100vh;
  right: 0;
  top: 0;
  background: rgba(136, 135, 135, 98%);
  color: #ffffff;
  z-index: 2;
  padding: 2rem 1rem 2rem 1rem;
  display: none;
  border-left: 2px solid rgb(146, 146, 146);
  font-size: small;
}
.prefferencies > div > p {
  margin-bottom: 1rem;
  text-align: center;
}

.choose-font {
  height: 34vh;
  margin-bottom: 1rem;
}
.color-theme {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  margin-bottom: 2rem;
}

.color-theme > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.color-theme > div > input {
  width: 20px;
  height: 20px;
}
.choose-font,
.button-animate {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.play-border {
  border-radius: 6px;
}
