.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.settings > div {
  background-color: white;
  padding: 0.8rem;
  border-radius: 22px;
}
.nav-trigger {
  position: relative;
  width: 45px;
  height: 45px;
}

label[for="nav-trigger"] {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 10;
  overflow: hidden;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: white;
  border-radius: 22px;
  background-image: url(/assets/images/settings.svg);
  background-size: contain;
}

.prefferencies {
  width: 21%;
  max-height: 90vh;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(115, 114, 114);
  color: aliceblue;
  z-index: 2;
  padding: 2rem 1rem 2rem 1rem;
  display: none;
  border-radius: 6px;
  border: 3px solid rgb(97, 97, 97) ;
}

.choose-font {
  height: 34vh;
}
.choose-font,
.color-theme {
  
  margin-bottom: 1rem;
  font-size: 0.8vw;
}

.color-theme > p {
  text-align: center;
  font-size: 1vw;
}


.choose-font,
.button-animate {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  font-size: 1vw;
  //row-gap: 1rem;
}

.play-border{
border-radius: 6px;
}
