.weekday-info_1 {
  grid-area: weekday-info_1;
  column-gap: 4rem;
  margin-bottom: 4rem;
}

.weekday-info_2 {
  grid-area: weekday-info_2;
  column-gap: 6rem;
  margin: 0 auto 5rem;
}
.weekday-info_3 {
  grid-area: weekday-info_3;
  margin: 0 auto;
  column-gap: 4rem;
  margin: 0 auto 5rem;
}
.weekday-info_1,
.weekday-info_2,
.weekday-info_3 {
  max-width: fit-content;
  display: flex;
  justify-items: center;
}

.weekDay {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 40vw;
}
.date {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

h3 {
  font-weight: bold;
  text-align: center;
}
input {
  text-align: center;
  height: 28px;
  max-width: 7vw;
  font-weight: bold;
}
input::placeholder {
  font-weight: lighter;
  font-size: small;
  text-align: center;
}
.current-amount,
.income,
.total-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 40vw;
}
.expense {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 4px;
}
.current-amount > div,
.income > div,
.expense > div,
.total-sum > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.6rem;
}

.expense > div > img {
  max-width: 30px;
}

.total-sum > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
