.weekday-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 2rem;
}
.weekDay {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}
.date {
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: bold;
  text-align: center;
}
input {
  text-align: center;
  height: 28px;
  font-weight: bold;
}
input::placeholder {
  font-weight: lighter;
}
.current-amount,
.income,
.total-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}
.expense {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}
.current-amount > div,
.income > div,
.expense > div,
.total-sum > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.expense > div > img {
  max-width: 30px;
}
.expense > button {
  width: 50%;
  min-height: 34px;
  align-self: center;
  margin: 1rem auto;
}
.total-sum > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
