/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Space+Grotesk:wght@300;400;500;600&family=Vollkorn+SC:wght@600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Red Hat Display";
  src: url(../../fonts/RedHatDisplay-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Casus Pro";
  src: url(../../fonts/CasusPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url(../../fonts/Lexend-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Koulen";
  src: url(../../fonts/Koulen-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter";
  src: url(../../fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Anybody";
  src: url(../../fonts/Anybody-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
.body {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto 5rem;
  max-width: 1200px;
}

.userData {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: larger;
}

#userAvatar {
  max-width: 70px;
  min-height: 70px;
  background: white;
  color: #383635;
  border-radius: 22px;
  padding: 0.5rem;
  text-align: center;
}

.userData > div > img {
  width: 100%;
  object-fit: cover;
  border-radius: 22px;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
}

.settings,
.finance-moment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
}

.settings > div > img {
  max-width: 60px;
  object-fit: cover;
  border-radius: 18px;
  padding: 0.6rem;
  background: white;
}

.moment {
  display: flex;
  flex-direction: column;
  text-align: right;
  row-gap: 10px;
  font-size: small;
}

.moment > h2 {
  text-align: right;
}

span {
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-areas: "left-wrapper weekday-info calculator";
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
  padding: 1rem;
  margin-top: 4rem;
}

h2 {
  font-size: large;
}

h3 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
}

hr {
  width: 80%;
}

.footer {
  color: #808080;
  margin: 4rem auto 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: small;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.contacts > div > div > a > img {
  object-fit: cover;
  max-width: 30px;
}

.contacts > div {
  display: flex;
  align-items: center;
}

.rights {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

.rights > div > a {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}

.rights > div > a:hover {
  color: rgb(151, 149, 149);
}

.btn-up {
  padding: 5px;
  border-radius: 50%;
}

.btn-up > img {
  max-width: 50px;
}

.btn-up > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#app {
  max-width: fit-content;
}

.budget-tracker {
  border-collapse: collapse;
  max-width: 750px;
}

.budget-tracker th {
  text-align: left;
  padding: 10px 20px;
  border-bottom: 2px solid grey;
}

.budget-tracker td {
  padding: 5px;
}

.new-entry {
  border-radius: 4px;
}

.input,
.delete-entry {
  height: 30px;
  font-size: 13px;
  padding: 0 8px;
  margin: 0;
  box-sizing: border-box;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border-color: #bbbbbb;
}

.delete-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  background: none;
  color: red;
  border: none;
  border-bottom: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.delete-entry:hover {
  background: rgba(255, 0, 0, 0.1);
}

.controls,
.summary {
  text-align: right;
}

.left-wrapper {
  grid-area: left-wrapper;
}

.left-wrapper,
.form,
.financial-literacy {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.form,
.financial-literacy {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 4px;
  max-width: 238px;
}

.form > button {
  width: fit-content;
  min-height: 44px;
  align-self: center;
  margin: 1rem auto;
  font-size: large;
  border-radius: 4px;
}

.gallery-buttons > button {
  min-width: 44px;
  min-height: 34px;
  font-size: larger;
  border-radius: 4px;
}

.item {
  height: 130px;
}

.item img {
  object-fit: cover;
  max-width: 200px;
}

.weekday-info {
  display: grid;
  grid-area: weekday-info;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.weekday-info_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 2rem 2rem 2rem 2rem;
}

.weekday-info_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 2rem 16rem 2rem 16rem;
}

.weekDay {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 40vw;
}

.date {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

h3 {
  font-weight: bold;
  text-align: center;
}

input {
  text-align: center;
  height: 28px;
  width: 10vw;
  font-weight: bold;
}

input::placeholder {
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

.current-amount,
.income,
.total-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 40vw;
}

.expense {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.current-amount > div,
.income > div,
.expense > div,
.total-sum > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.expense > div > img {
  max-width: 30px;
}

.total-sum > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.calculator {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  grid-area: calculator;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 4px;
}

.calculate-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.calculate-buttons > button,
#result-button {
  font-size: larger;
  min-width: 44px;
  min-height: 44px;
  border-radius: 4px;
}

.error {
  font-size: small;
  font-weight: bold;
  text-align: center;
  color: rgb(204, 20, 20);
}

/* ----- Office ----- */
.office-body {
  background: rgb(245, 245, 248);
}

.office-box {
  background: linear-gradient(rgb(249, 245, 248), rgb(252, 255, 255), rgb(249, 245, 248));
}

.office-title {
  color: rgb(27, 54, 151);
}

.office-button {
  background: rgb(125, 143, 205);
  color: #fff;
  border: none;
  border-bottom: 6px solid rgb(82, 97, 149);
}

.office-button:hover {
  border-bottom: 3px solid rgb(82, 97, 149);
  background: rgb(112, 132, 205);
}

/* ----- Dark-Theme ----- */
.dark-body {
  background: rgb(34, 33, 33);
  color: rgb(189, 188, 188);
}

.dark-box {
  background: linear-gradient(rgb(57, 55, 55), rgb(64, 62, 62), rgb(68, 66, 66), rgb(64, 62, 62), rgb(57, 55, 55));
  box-shadow: 0 0 10px 6px rgb(15, 14, 14);
}

.dark-title {
  color: rgb(59, 205, 253);
}

.dark-button {
  background: rgb(59, 205, 253);
  border: none;
  border-bottom: 6px solid rgba(15, 14, 14, 0.5);
}

.dark-button:hover {
  border-bottom: 3px solid rgba(15, 14, 14, 0.5);
  background: rgb(56, 193, 239);
}

/* ----- Parking ----- */
.parking-body {
  background: linear-gradient(rgb(22, 19, 19), rgb(37, 37, 37), rgb(49, 49, 49), rgb(37, 37, 37), rgb(22, 19, 19));
  color: #fdfd30;
}

.parking-box {
  background: linear-gradient(rgb(56, 59, 59), rgb(65, 62, 62), rgb(71, 66, 66), rgb(65, 62, 62), rgb(56, 59, 59));
  color: rgb(189, 188, 188);
  box-shadow: 0 0 10px 6px rgb(3, 3, 3);
}

.parking-title {
  color: #fdfd30;
}

.parking-button {
  background: #fdfd30;
  border: none;
  border-bottom: 6px solid #9b9b23;
}

.parking-button:hover {
  border-bottom: 3px solid #9b9b23;
  background: #e0e013;
}

/* ----- Underground ----- */
.underground-body {
  background: #110602;
  color: #f16506;
}

.underground-box {
  background: linear-gradient(rgb(45, 31, 30), rgb(52, 37, 36), rgb(57, 41, 40), rgb(52, 37, 36), rgb(45, 31, 30));
  color: #9e9997;
  box-shadow: 0 0 10px 6px rgba(128, 80, 43, 0.8);
}

.underground-title {
  color: #f16506;
}

.underground-button {
  background: #f16506;
  color: #fff;
  border: none;
  border-bottom: 6px solid #80502b;
}

.underground-button:hover {
  border-bottom: 3px solid #80502b;
  background: #e45e05;
}

/* ----- Skyblue ----- */
.skyblue-body {
  background: linear-gradient(skyblue, rgb(170, 219, 239), rgb(237, 241, 243), rgb(170, 219, 239), skyblue);
  color: #083b49;
}

.skyblue-box {
  background: linear-gradient(rgb(213, 232, 247), rgb(221, 236, 247), rgb(228, 238, 245), rgb(221, 236, 247), rgb(213, 232, 247));
  color: #383635;
  box-shadow: 0 0 10px 6px rgba(19, 90, 117, 0.5);
}

.skyblue-title {
  color: rgb(6, 126, 159);
}

.skyblue-button {
  background: rgb(20, 167, 208);
  color: #fff;
  border: none;
  border-bottom: 6px solid rgb(11, 115, 143);
}

.skyblue-button:hover {
  border-bottom: 3px solid rgb(9, 96, 120);
  background: rgb(15, 148, 185);
}

/* ----- Bubble-Gum ----- */
.bubble-gum-body {
  background: linear-gradient(rgb(254, 174, 187), #cce4f0, #fff, #cce4f0, rgb(254, 174, 187));
  color: rgb(150, 66, 80);
}

.bubble-gum-box {
  background: linear-gradient(rgb(247, 213, 219), rgb(246, 217, 222), rgb(245, 223, 227), rgb(246, 217, 222), rgb(247, 213, 219));
  color: #383635;
  box-shadow: 0 0 10px 6px rgba(197, 81, 100, 0.5);
}

.bubble-gum-title {
  color: rgb(207, 54, 80);
}

.bubble-gum-button {
  background: rgb(225, 100, 120);
  color: #fff;
  border: none;
  border-bottom: 6px solid rgb(150, 66, 80);
}

.bubble-gum-button:hover {
  border-bottom: 3px solid rgb(150, 66, 80);
  background: rgb(221, 100, 120);
}

/* ----- Violet ----- */
.violet-body {
  background: linear-gradient(rgb(103, 47, 187), rgb(166, 132, 215), #fff, rgb(166, 132, 215), rgb(103, 47, 187));
  color: #fff;
}

.violet-box {
  background: linear-gradient(rgb(204, 183, 237), rgb(208, 195, 235), rgb(209, 206, 233), rgb(208, 195, 235), rgb(204, 183, 237));
  color: #383635;
  box-shadow: 0 0 10px 6px rgba(58, 51, 63, 0.5);
}

.violet-title {
  color: rgb(70, 31, 128);
}

.violet-button {
  background: rgb(103, 46, 188);
  color: #fff;
  border: none;
  border-bottom: 6px solid rgb(67, 35, 116);
}

.violet-button:hover {
  border-bottom: 3px solid rgb(67, 35, 116);
  background: rgb(97, 43, 178);
}

/* ----- Wildberry ----- */
.wildberry-body {
  background: linear-gradient(rgb(252, 147, 228), rgb(121, 248, 208), #fff, rgb(121, 248, 208), rgb(252, 147, 228));
  color: #fff;
}

.wildberry-box {
  background: linear-gradient(rgb(255, 220, 247), rgb(255, 229, 249), rgb(255, 220, 247));
  color: #383635;
  box-shadow: 0 0 10px 6px rgba(142, 92, 217, 0.5);
}

.wildberry-title {
  color: #383635;
}

.wildberry-button {
  background: rgb(114, 240, 201);
  border: none;
  border-bottom: 6px solid rgb(92, 182, 153);
}

.wildberry-button:hover {
  border-bottom: 3px solid rgb(92, 182, 153);
  background: rgb(110, 226, 190);
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.settings > div {
  background-color: white;
  padding: 0.9rem;
  border-radius: 22px;
}

.nav-trigger {
  position: relative;
  width: 45px;
  height: 45px;
}

label[for=nav-trigger] {
  position: absolute;
  left: 6px;
  top: 8px;
  z-index: 10;
  overflow: hidden;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: white;
  border-radius: 22px;
  background-image: url(../../images/settings.svg);
  background-size: contain;
}

.prefferencies {
  position: fixed;
  width: 21%;
  max-height: 100vh;
  right: 0;
  top: 0;
  background: rgba(136, 135, 135, 0.98);
  color: #ffffff;
  z-index: 2;
  padding: 2rem 1rem 2rem 1rem;
  display: none;
  border-left: 2px solid rgb(146, 146, 146);
  font-size: small;
}

.prefferencies > div > p {
  margin-bottom: 1rem;
  text-align: center;
}

.choose-font {
  height: 34vh;
  margin-bottom: 1rem;
}

.color-theme {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  margin-bottom: 2rem;
}

.color-theme > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.color-theme > div > input {
  width: 20px;
  height: 20px;
}

.choose-font,
.button-animate {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.play-border {
  border-radius: 6px;
}

.total-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.total-week-expenses {
  padding: 1rem 2rem;
  border-radius: 4px;
}

.chart {
  background: rgb(255, 252, 252);
  width: 45%;
  height: fit-content;
  padding: 2rem;
  border-radius: 22px;
}

.chart > canvas {
  margin: 0 auto;
  width: 100%;
}

.chartText {
  color: rgb(196, 195, 195);
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin: auto 0;
}

/*# sourceMappingURL=style.css.map */
